.Grid
    display: grid
    grid-template-columns: 1fr

@media (min-width: 870px)
    .Grid
        grid-template-columns: 1fr 1fr

@media (min-width: 1100px)
    .Grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr 1fr 1fr