.LoginForm
    text-align: center
    height: 400px
    padding: 5%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    .LogoDiv
        background-color: black
        display: flex
        justify-content: center
        align-items: center
        height: 200px
        width: 200px
        border-radius: 50%