$keoRed: #E51A23
.ShopItem
    display: inline-block
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2)
    width: 250px
    margin: auto
    text-align: center
    font-family: arial
    img
        width: 250px

.Price
    color: grey
    font-size: 22px

p:last-child
    margin: 0

.ShopItem button
    border: none
    outline: 0
    padding: 12px
    color: white
    background-color: #000
    text-align: center
    cursor: pointer
    width: 100%
    font-size: 18px

.ShopItem button:hover
    background-color: $keoRed