$keoRed: #E51A23

.Navbar
    height: 150px
    width: 100%
    background-color: black
    display: flex
    align-items: center
    justify-content: space-around

.Desktop, .NavItems
    display: flex

.Desktop
    width: 100%
    justify-content: space-around
    input
        width: 250px

.MenuBtn
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 80px
  height: 80px
  cursor: pointer
  transition: all .5s ease-in-out
  /* border: 3px solid #fff */
  
.MenuBtnBurger
  width: 50px
  height: 6px
  background: #fff
  border-radius: 5px
  transition: all .5s ease-in-out
  
.MenuBtnBurger::before,
.MenuBtnBurger::after
  content: ''
  position: absolute
  width: 50px
  height: 6px
  background: #fff
  border-radius: 5px
  transition: all .5s ease-in-out
  
.MenuBtnBurger::before
  transform: translateY(-16px)
  
.MenuBtnBurger::after
  transform: translateY(16px)
  
/* ANIMATION */
.MenuBtn.Open .MenuBtnBurger
  transform: translateX(-50px)
  background: transparent
  box-shadow: none
  
.MenuBtn.Open .MenuBtnBurger::before
  transform: rotate(45deg) translate(35px, -35px)
  
.MenuBtn.Open .MenuBtnBurger::after
  transform: rotate(-45deg) translate(35px, 35px)

// DON'T SHOW IN DESKTOP
.MenuBtn
    display: none

.NavItems
    width: 600px
    margin: 0
    padding: 0
    list-style: none
    justify-content: space-between
    a
        text-decoration: none
        color: white
        font-weight: 700
        transition: color 200ms ease-in-out
        &:hover
            color: $keoRed
            transition: color 200ms ease-in-out
   

@media (max-width: 900px)
    .Desktop
        display: none
    .MenuBtn
        display: flex
