$keoRed: #E51A23
$orange: #f6b646

.Navbar
  // position: fixed
  // top: 0
  // left: 0
  color: white
  padding: 0 15%
  height: 125px
  z-index: 2
  background-color: black
  overflow: hidden
  display: flex
  align-items: center
  justify-content: space-between
  a
    text-align: center
    color: white

.LeftGroup
  display: flex
  align-items: center
  justify-content: flex-start
  width: 30%
  height: 100%

.MiddleGroup
  // letter-spacing: 1.5px
  font-size: 18px
  display: flex
  width: 60%
  margin: 0
  padding: 0
  list-style: none
  align-items: center
  justify-content: space-between
  li
    transition: color 200ms ease-in-out
    a
      text-decoration: none
      font-weight: 700
      &:hover
        color: $orange
        transition: color 200ms ease-in-out
      &:active
        color: $orange

.RightGroup
  display: flex
  align-items: center
  justify-content: flex-end
  width: 40%

.Cart
  margin-right: 20px
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
    // font-weight: 500
  button
    padding: 0
    &:hover
      color: $orange
  a
    text-decoration: none
  span
    font-weight: 700
    font-size: 20px
    color: $orange
  
.MobileCart
  display: none

.Desktop
  display: flex
  width: 70%
  height: 100%
  // justify-content: space-evenly

.MenuBtn
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 80px
  height: 80px
  cursor: pointer
  transition: all 300ms ease-in-out
  /* border: 3px solid #fff */
  
.MenuBtnBurger
  width: 50px
  height: 6px
  background: #fff
  border-radius: 5px
  transition: all 300ms ease-in-out
  
.MenuBtnBurger::before,
.MenuBtnBurger::after
  content: ''
  position: absolute
  width: 50px
  height: 6px
  background: #fff
  border-radius: 5px
  transition: all 300ms ease-in-out
  
.MenuBtnBurger::before
  transform: translateY(-16px)
  
.MenuBtnBurger::after
  transform: translateY(16px)

.NotVisible
    opacity: 0

// DON'T SHOW IN DESKTOP
// .MenuBtn
//     display: none
   
//ON MOBILE
@media (max-width: 1100px)
  .Navbar
    height: 130px
    // padding: 10px 15px

  .LeftGroup
    height: 100%
    width: 100%
    justify-content: space-between

  /* ANIMATION */
  .MenuBtn.Open .MenuBtnBurger
    transform: translateX(-50px)
    background: transparent
    box-shadow: none
  .MenuBtn.Open .MenuBtnBurger::before
    transform: rotate(45deg) translate(35px, -35px)
  .MenuBtn.Open .MenuBtnBurger::after
    transform: rotate(-45deg) translate(35px, 35px)

  .MobileCart
    display: flex
    opacity: 1
  .NotVisible
    opacity: 0
  .Desktop
    display: none
  .MenuBtn
    display: flex
