.Navbar {
  color: white;
  padding: 0 15%;
  height: 12vh;
  z-index: 2;
  background-color: black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Navbar a {
  text-align: center;
  color: white;
}

.LeftGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  height: 100%;
}

.MiddleGroup {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MiddleGroup li {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.MiddleGroup li a {
  text-decoration: none;
  font-weight: 700;
}

.MiddleGroup li a:hover {
  color: #f6b646;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.MiddleGroup li a:active {
  color: #f6b646;
}

.RightGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}

.Cart {
  margin-right: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Cart button {
  padding: 0;
}

.Cart button:hover {
  color: #f6b646;
}

.Cart a {
  text-decoration: none;
}

.Cart span {
  font-weight: 700;
  font-size: 20px;
  color: #f6b646;
}

.MobileCart {
  display: none;
}

.Desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 100%;
}

.MenuBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: background 0ms ease-in-out;
  transition: background 0ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  /* border: 3px solid #fff */
}

.MenuBtnBurger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: background 0ms ease-in-out;
  transition: background 0ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.MenuBtnBurger::before,
.MenuBtnBurger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: background 0ms ease-in-out;
  transition: background 0ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.MenuBtnBurger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.MenuBtnBurger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.MenuBtn.Open .MenuBtnBurger,
.MenuBtn.Open .MenuBtnBurger::before,
.MenuBtn.Open .MenuBtnBurger::after {
  background: transparent;
  -webkit-transition: background 0ms ease-in-out;
  transition: background 0ms ease-in-out;
}

.NotVisible {
  opacity: 0;
}

@media (max-width: 1100px) {
  .Navbar {
    height: 20vh;
    padding-right: 6%;
  }
  .LeftGroup {
    height: 100%;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .MenuBtn .MenuBtnBurger::before,
  .MenuBtn .MenuBtnBurger::after,
  .MenuBtn .MenuBtnBurger {
    background: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .MenuBtn.Open .MenuBtnBurger::before,
  .MenuBtn.Open .MenuBtnBurger::after,
  .MenuBtn.Open .MenuBtnBurger {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  /* ANIMATION */
  .MenuBtn.Open .MenuBtnBurger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .MenuBtn.Open .MenuBtnBurger::before {
    background: #fff;
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .MenuBtn.Open .MenuBtnBurger::after {
    background: #fff;
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
  .MobileCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .NotVisible {
    opacity: 0;
  }
  .Desktop {
    display: none;
  }
  .MenuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=Navbar.module.css.map */