$keoRed: #E51A23

.Sidebar
    background-color: black
    width: 280px
    position: fixed
    max-width: 70%
    height: 100%
    left: 0
    top: 0
    z-index: 1
    padding-left: 32px
    box-sizing: border-box
    transition: transform 300ms ease-out

input
    height: 30px

nav
    height: calc(100% - 230px)
    .NavItems
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-evenly
        margin: 0
        padding: 0
        list-style: none
        a
            text-decoration: none
            color: white
            font-weight: 700
            transition: color 200ms ease-in-out
            &:hover
                color: $keoRed
                transition: color 200ms ease-in-out
        input
            width: 25px
            margin: 10px 15px 0 0
    

@media (min-width: 1100px)
    .Sidebar
        display: none

.Open
    transform: translateX(0)

.Close
    transform: translateX(-100%)