main
    .Flex
        display: flex
        width: 250px
        align-items: center
        justify-content: space-between
.Redes
    display: flex
    width: 200px
    justify-content: space-between
    a
        color: black
        transition: color 200ms ease-in-out
        &:hover
            transition: color 200ms ease-in-out
    .Instagram:hover, button:first-child
        color: #c240f5
    .Facebook:hover, button:nth-child(2)
        color: #304099
    .Whatsapp:hover, button:last-child
        color: #36ad32
p
    line-height: 2

