footer
    width: 100vw
    height: 10vh
    text-align: center
    color: white
    background-color: black
    display: flex
    justify-content: center
    align-items: center
    overflow-x: hidden